In [5]:
testDict = {
    'param1' : [5, 6],
    'param2' : 17
}

testDict['param1'][0]

5

{'param1': 5, 'param2': 17}

In [8]:
from sklearn.ensemble import IsolationForest

In [12]:
columns = ['price', 'volume']

model_IF = IsolationForest(contamination=float(0.1),random_state=42069)
model_IF.fit(df[columns])
df['anomaly_scores'] = model_IF.decision_function(df[columns])
df['anomaly'] = model_IF.predict(df[columns])

In [13]:
df.head()

,price,volume,sen,trend,anomaly_scores,anomaly
date,,,,,,
2017-12-03,11256.701829,5.761492e+09,0.012876,28.583750,0.081052,1
2017-12-04,11634.984955,3.216350e+09,-0.272631,32.723823,0.066869,1
2017-12-05,12174.253740,3.131953e+09,-0.065962,34.793859,0.047051,1
2017-12-06,13876.473579,5.086411e+09,-0.141230,46.179058,0.046741,1
2017-12-07,18491.181554,1.648292e+10,-0.169460,98.964982,0.099112,1

In [14]:
df['anomaly'] = df['anomaly'].map({1:0, -1:1})
dfAnomaly  = df[df['anomaly'] == 1]

df.head()

,price,volume,sen,trend,anomaly_scores,anomaly
date,,,,,,
2017-12-03,11256.701829,5.761492e+09,0.012876,28.583750,0.081052,0
2017-12-04,11634.984955,3.216350e+09,-0.272631,32.723823,0.066869,0
2017-12-05,12174.253740,3.131953e+09,-0.065962,34.793859,0.047051,0
2017-12-06,13876.473579,5.086411e+09,-0.141230,46.179058,0.046741,0
2017-12-07,18491.181554,1.648292e+10,-0.169460,98.964982,0.099112,0

In [4]:
df.to_csv("./data/sentiment.csv", index = False)

In [1]:
df

NameError: name 'df' is not defined