In [2]:
import pandas as pd

df = pd.read_csv("./data/dataRaw.csv", index_col=['date'])

df.head()

         date         price        volume       sen      trend
0  2017-12-03  11256.701829  5.761492e+09  0.012876  28.583750
1  2017-12-04  11634.984955  3.216350e+09 -0.272631  32.723823
2  2017-12-05  12174.253740  3.131953e+09 -0.065962  34.793859
3  2017-12-06  13876.473579  5.086411e+09 -0.141230  46.179058
4  2017-12-07  18491.181554  1.648292e+10 -0.169460  98.964982

In [4]:
df

            date         price        volume       sen      trend
0     2017-12-03  11256.701829  5.761492e+09  0.012876  28.583750
1     2017-12-04  11634.984955  3.216350e+09 -0.272631  32.723823
2     2017-12-05  12174.253740  3.131953e+09 -0.065962  34.793859
3     2017-12-06  13876.473579  5.086411e+09 -0.141230  46.179058
4     2017-12-07  18491.181554  1.648292e+10 -0.169460  98.964982
...          ...           ...           ...       ...        ...
2030  2023-06-25  30537.816665  1.173612e+10 -0.307940   6.846403
2031  2023-06-26  30454.756974  1.207682e+10  0.074923   7.642420
2032  2023-06-27  30285.505064  1.603218e+10  0.193617   6.846403
2033  2023-06-28  30693.546356  1.441185e+10  0.210300   6.846403
2034  2023-06-29  30083.477245  8.489428e+09 -0.058915   6.581065

[2035 rows x 5 columns]

In [4]:
df.to_csv("./data/sentiment.csv", index = False)

In [1]:
df

NameError: name 'df' is not defined